
*.pdf
.Rhistory
.Rhistory
.Rhistory
/SM_Inspecion_102924.xlsx
/OLD_SSS_Water_Sediment_Total_Respiration_GPP.csv
Figures/Maps/CB_catchments_clustered/CB_catchments_clean_joined.shp
Stream_Metabolizer/Outputs_12-12-24_VGC
/SM_Inspecion_102924_VGC
/Stream_Metabolizer/Outputs/Model_Fits2/SM_Model_Fits_*
/Stream_Metabolizer/Outputs/Data_Inspection2