
v2_CM_SSS_Data_Package/v2_CM_SSS_miniDOT_Data_and_Plots/v2_CM_SSS_miniDOT_Plots.pdf
Maps/Figure1-Cluster_Map.pdf
Maps/CB_catchments_clustered/CB_catchments_clean_joined.shp
Published_Data/v2_CM_SSS_Data_Package/v2_CM_SSS_miniDOT_Data_and_Plots/v2_CM_SSS_miniDOT_Plots.pdf
.Rproj.user
Figures/Maps/Figure1-Cluster_Map.pdf
Figures/Maps/CB_catchments_clustered/CB_catchments_clean_joined.shp
